body{
    margin: none;
  
    font-family: "Lucida Console", sans-serif;
    font-weight: 120;
    font-style: normal;
    background-size: cover;
}

nav{

    display: flex;
    align-content: center;
    justify-content:center;
    justify-items: center;
    height: 70px;
    background-color: #8093e5;
    border-radius:0px 0px 30px 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    transition:  0.7s;
    border-bottom: 5px solid black;   
      }

      nav:hover {
        height: 100px;
        align-items: center;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        padding-right: 40px;
        padding-left: 40px;
        animation-duration: 1s;
    }
    nav ul li:hover{
        background-color: white;
        border-radius: 10px;
        transition:  0.7s;
         
    }
    nav ul li a{
        color: white;
        text-decoration: none;
    }
    nav ul li a:hover{
        color:#8093e5 ;
        
    }
    nav .logo{
        width: 80px;
        height: 80px;
    }
    .home{
        width: 100%;
        padding-left:20px;
        margin-top: 20px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    .home1{
        color: white;
        background-color:  #8093e5;
        border: outset black 5px;
        border-radius: 30px;
        padding: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
    }
    form input{
        margin-top: 40px;
    }

    form button{
        width: 150px;
        height: 50px;
        background-color: #8093e5;
        margin-top: 40px;
        border-radius: 10px;
        color: white;
        border: 3px solid black;
    }


    footer{
        
        background-color: #8093e5;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 30px;
        border-radius:30px 30px 0px 0px;
        border-top: 5px solid black;
    }
    
    footer ul{
        list-style: none;
       
    
    }
    footer ul li a {
        text-decoration: none;
        color: white;
    }

    #Contact{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 40px;
        border-top: solid #8093e5 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    
    div.gallery {
       
    
        transition: 0.5s;
        margin-top: 50px;
        justify-content: center;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.7 ;
       
        
        
      }
      
      div.gallery:hover {
      border-radius: 30px 30px 30px 30px;
       box-shadow: 0 6px 20px 0 #8093e5;
       transform: scale(1.1);
       transition: 1s;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      
      * {
        box-sizing: border-box;
      }
      
      .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      #Work{
        height: 700px;
        background-image: url(/images/full-stack-development.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 30px;
        margin-left: 30px;
        padding-top: 40px;
        border-top: solid #8093e5 5px;
      }
      
      #About{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 40px;
        border-top: solid #8093e5 5px;
        display: flex;
        align-items: center;
      }
      #resume{
        display: flex;
        flex-direction: column;
      
        justify-items: center;
      }
      #Contact button{
        width: 200px;
        transition: 0.7s;
      }
      #Contact button:hover{
        box-shadow: 0 12px 16px 0 rgb(0, 0, 0);
      }
      #Contact button a{
        text-decoration: none;
        color: white;
      }
      #BACKGROUND.jpg{
        opacity: 0.5;
      }

      #Resume{
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        border-top: solid #8093e5 5px;
        margin-left: 25px;
        margin-right: 25px;
      }
     